body {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  background-color: lightyellow;
  width: 60%;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.script-container {
  background-color: lightyellow;
  width: 90%;
  height: auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-layout {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  color: white;
  grid-gap: 10px;
}

.tweets {
  background-color: lightgray;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

.replies {
  background-color: yellow;
  color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}

.search {
  background-color: darkcyan;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}

.messages {
  background-color: skyblue;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1;
}

.grid-container {
  text-align: center;
  width: 80%;
  height: 300px;
  background-color: lightpink;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr;
  gap: 5px;
  /* padding: 10px; */
  border: 1px solid blue;
}

.grid-item-1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: span 4;
  background-color: aquamarine;
}

.grid-item-2 {
  grid-row-start: span 2;
  grid-column-start: span 1;
  background-color: beige;
}

.grid-item-3 {
  grid-column-start: span 2;
  background-color: blanchedalmond;
}

.grid-item-5 {
  /* grid-row-start: 2/span 2; */
  grid-column-start: span 3;
  background-color: azure;
}

.grid-item-4 {
  background-color: lightgreen;
}
